* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #7ED9D0;
    font-family: 'Roboto', sans-serif;
}

#txt_noel {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#div_logo{
    height: 100vh;
}

#main {
    position: relative;
    transform: translate(0%, 500%);
}

#txt_noel{
    animation: fadeIn 5s ease;
    -webkit-animation: fadeIn 5s ease;
    -moz-animation: fadeIn 5s ease;
    -o-animation: fadeIn 5s ease;
    -ms-animation: fadeIn 5s ease;
}

.item {

    width: 85%;
    height: 300px;
    margin: 50px auto;
    padding: 10px;
    background: #F2F2F0;
    color: #010326;
    font-size: 1.2em;

    box-shadow: 2px 2px #03738C;
  }


.item .big{
    font-size: 2em;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}